@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #F9BC6E;
    --black: #000000;
    --light-color: #FFF;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* scroll-behavior: smooth; */
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Header Stlying */

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* Setcion One Styling */

.one {
    height: 130vh;
}

.one .bot-img {
    position: absolute;
    top: 61%;
    /* right: -100px; */
    left: -15%;
    z-index: -999;
}

.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.sec1 .sec1-left {
    width: 100%;
}

.sec1 .sec1-left h3 {
    color: #000;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 137.2%;
    /* 71.344px */
}

.sec1 .sec1-left h6 {
    margin-top: 2rem;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32.5px;
    /* 193.182% */
}

.sec1 .sec1-left button {
    margin-top: 2rem;
    border-radius: 15px;
    background: var(--primary);
    border: none;
    width: 150px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sec1 .sec1-right img {
    width: 600px;
}

/* Setcion Two Styling */

.sec2 {
    padding: 0 0 4rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    /* grid-template-columns: auto auto; */
}

.sec2 .first-div {
    /* background: aqua; */
    padding: 3rem 2rem;
    width: 620px;
    border-radius: 30px;
    box-shadow: 0px 69px 114px 0px rgba(0, 0, 0, 0.08);
    /* height: 290px; */
}

.sec2 .first-div h3 {
    margin-top: 1rem;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sec2 .first-div h6 {
    margin-top: 1rem;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.7%;
    /* 29.286px */
}

.sec2 .first-div button {
    margin-top: 2rem;
    border-radius: 15px;
    background: var(--primary, #F9BC6E);
    border: none;
    color: var(--light-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    height: 55px;
    cursor: pointer;
}

.sec2 .sec2-right {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 7rem;
}

.sec2 .sec2-left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* Setcion Three Styling */

.three {
    background: var(--primary);
}

.sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
}

.sec3 h3 {
    /* margin-top: 3rem; */
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 128.3%;
    /* 46.188px */
}

.sec3 h6 {
    margin-top: 2rem;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: 37px;
    /* 168.182% */
}

/* Setcion Four Styling */

.four {
    padding: 5rem 0;
}

.sec4 .sec4-central {
    display: flex;
    justify-content: space-between;
    padding: 8rem 12rem;
    /* gap: 10rem; */
    /* filter: drop-shadow(0px 69px 114px rgba(0, 0, 0, 0.08)); */
    box-shadow: 0px 69px 114px 0px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    border-top: 4px solid var(--primary);
}

.sec4 .sec4-central .sec4-left h3 {
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.7%;
    /* 54.474px */
}

.sec4 .sec4-central .sec4-left .sec4-line {
    background: var(--primary);
    width: 25%;
    height: .2rem;
    margin-top: 2rem;
}

.sec4 .sec4-central .sec4-left h6 {
    margin-top: 2rem;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 177.2%;
    /* 28.296px */
}

.sec4 .sec4-central .sec4-left .sec4-social {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.sec4 .sec4-central .sec4-left .sec4-social i {
    color: var(--primary);
    font-size: 24px;
}

.sec4 .sec4-central .sec4-left button {
    margin-top: 2rem;
    background: var(--light-color);
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: .7rem 1.2rem;
    color: var(--primary, #F9BC6E);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.sec4-central .sec4-right form {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.sec4-central .sec4-right form h6 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.7%;
    /* 28.534px */
    letter-spacing: 0.55px;
}

.sec4-central .sec4-right form input {
    border-radius: 12px;
    border: 1px solid #C8C8C8;
    width: 400px;
    height: 50px;
    padding: 0 1.5rem;
}

.sec4-central .sec4-right form #message {
    height: 150px;
}

.sec4-central .sec4-right form #submit {
    background: var(--primary);
    border: none;
    color: var(--light-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

/* Section Five Styling */

.sec5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.sec5 .sec5-left {
    width: 100%;
}

.sec5 .sec5-left h3 {
    color: #000;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 137.2%;
    /* 71.344px */
}

.sec5 .sec5-left h6 {
    margin-top: 2rem;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.5px;
    /* 193.182% */
}

.sec5 .sec5-left button {
    margin-top: 2rem;
    border-radius: 15px;
    background: var(--primary);
    border: none;
    width: 200px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sec5 .sec5-left button i {
    /* color: var(--black); */
    font-size: 20px;
}

.sec5 .sec5-right img {
    width: 900px;
}